<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog App</title>
  </head>
  <body>
    <h1>User&apos;s Details</h1>
  </body>
</html>